name: Release


on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
      name: Create GitHub Release
      runs-on: ubuntu-latest

      steps:
        - name: create release
          uses: softprops/action-gh-release@v2
          with:
            tag_name: ${{ github.ref_name }}
            name: ${{ github.ref_name }}
            token: ${{ github.token }}
            generate_release_notes: true

  windows-build:
    name: Windows Build (Debug, Release)
    runs-on: windows-latest
    needs: release

    steps:
      - uses: actions/checkout@v4

      - name: Build Release (x64)
        run: cargo build --release

      - name: Build Debug (x64)
        run: cargo build

      - name: Install 32-bit Rust target
        run: rustup target add i686-pc-windows-msvc
      
      - name: Build Debug (x86)
        run: cargo build --target i686-pc-windows-msvc

      - name: Build Release (x86)
        # run: cargo build --release --target i686-pc-windows-msvc
        run: |
          Write-Host "=== Contents of target directory ==="
          Get-ChildItem -Recurse -Include *.exe target | Select-Object FullName, Length | Format-Table -AutoSize
      
      - name: Restore Cert
        shell: powershell
        run: |
          [IO.File]::WriteAllBytes(
            "codesign.pfx",
            [Convert]::FromBase64String("${{ secrets.WIN_CERT_PFX_BASE64 }}")
          )
      
      - name: Sign exe
        shell: powershell
        run: |
          & "C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool\signtool.exe" sign /f codesign.pfx /p "${{ secrets.WIN_CERT_PASSWORD }}" /fd SHA256 /t "http://timestamp.digicert.com" target\release\stcli.exe
          & "C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool\signtool.exe" sign /f codesign.pfx /p "${{ secrets.WIN_CERT_PASSWORD }}" /fd SHA256 /t "http://timestamp.digicert.com" target\i686-pc-windows-msvc\release\stcli.exe
      
      - name: Renaming Windows files
        shell: powershell
        run: |
          Move-Item $PWD\target\debug\stcli.exe stcli_windows_amd64_debug.exe
          Move-Item $PWD\target\release\stcli.exe stcli_windows_amd64_release.exe
          Move-Item $PWD\target\i686-pc-windows-msvc\debug\stcli.exe stcli_windows_x86_debug.exe
          Move-Item $PWD\target\i686-pc-windows-msvc\release\stcli.exe stcli_windows_x86_release.exe

      - name: Upload Windows Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            stcli_windows_amd64_debug.exe
            stcli_windows_amd64_release.exe
            stcli_windows_x86_debug.exe
            stcli_windows_x86_release.exe
      
      - name: Cleanup
        run: del codesign.pfx

